
@{
    ViewBag.Title = "UserDashboard";
}
<table class="container" style="margin-bottom:192px;">
    <thead>
        <tr>
            <th><h1 style="color: #FB667A;">SAATLER</h1></th>
            <th><h1>Pazartesi</h1></th>
            <th><h1>Salı</h1></th>
            <th><h1>Çarşamba</h1></th>
            <th><h1>Perşembe</h1></th>
            <th><h1>Cuma</h1></th>
            <th><h1>Cumartesi</h1></th>
            <th><h1>Pazar</h1></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>08:00-10:00</td>
            <td>9518</td>
            <td>6369</td>
            <td>01:32:50</td>
            <td>Google</td>
            <td>9518</td>
            <td>6369</td>
            <td>01:32:50</td>
        </tr>
        <tr>
            <td>10:00-12:00</td>
            <td>7326</td>
            <td>10437</td>
            <td>00:51:22</td>
            <td>Google</td>
            <td>9518</td>
            <td>6369</td>
            <td>01:32:50</td>
        </tr>
        <tr>
            <td>12:00-14:00</td>
            <td>4162</td>
            <td>5327</td>
            <td>00:24:34</td>
            <td>Google</td>
            <td>9518</td>
            <td>6369</td>
            <td>01:32:50</td>
        </tr>
        <tr>
            <td>14:00-16:00</td>
            <td>3654</td>
            <td>2961</td>
            <td>00:12:10</td>
            <td>Google</td>
            <td>9518</td>
            <td>6369</td>
            <td>01:32:50</td>
        </tr>
        <tr>
            <td>16:00-18:00</td>
            <td>3654</td>
            <td>2961</td>
            <td>00:12:10</td>
            <td>Google</td>
            <td>9518</td>
            <td>6369</td>
            <td>01:32:50</td>
        </tr>

    </tbody>
</table>